body{
    background-color: #1B1B3A;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    background-color: #693668;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height: 10vh;
    color: azure;
    display: flex;
}
h1{
    text-align: center;
    justify-content: center;
    color: azure;
    font-size: 5vh;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    width: 15vw;
    height: 15vw;
    margin: 10px;
    background-color: #FF3562;
    color :azure;
    font-size: larger;
}

